body {
  background-image: url("./Components/assets/background.jpg");
  background-size: cover; /* Ensures it covers the full page */
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #333;
  padding: 1rem 2rem;
  color: white;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  width: 55px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  object-fit: cover;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
}
.nav-button {
  color: black;
  background-color: gold;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.nav-button:hover {
  transform: scale(1.15);
}
.main-container {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-image {
  width: 400px;
  max-width: 90vw;
  height: auto;
}

.right-side {
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 600px;
  color: #ecda4c;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffc700, 0 0 30px #ffaa00;
}

h1 {
  font-family: "The Darling", cursive;
  font-size: 180px;
  color: #ecda4c;
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ffc700, 0 0 30px #ffaa00;
  margin-bottom: 0.5;
  line-height: 1;
}

.title-trailer {
  font-size: 2.5rem;
  color: #fffacd;
  text-transform: lowercase;
  letter-spacing: 0.4rem;
  margin-top: -0.8rem;
  margin-bottom: 1.5rem;
  text-transform: lowercase;
  padding-left: 0.4rem;
}
.services {
  font-size: 1.2rem;
  color: #ffeaa7;
  font-weight: 600px;
  line-height: 1.6;
}
.white-text {
  color: #fffacd;
  text-shadow: 0 0 25px #fff9c4, 0 0 40px #ffff99;
}
